<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="../static/images/invoice-logo.jpg"
          th:href="@{images/invoice-logo.jpg}" type="image/png">

    <title>计算最终相对分</title>

    <!--&lt;!&ndash;dynamic table&ndash;&gt;-->
    <!--<link href="../static/plugins/advanced-datatable/css/demo_page.css"  th:href="@{plugins/advanced-datatable/css/demo_page.css}"  rel="stylesheet"/>-->
    <!--<link href="../static/plugins/advanced-datatable/css/demo_table.css" th:href="@{plugins/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>-->
    <!--<link href="../static/plugins/data-tables/DT_bootstrap.css" th:href="@{plugins/data-tables/DT_bootstrap.css}"/>-->
    <!--common-->
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet">
    <link href="../static/css/style-responsive.css" th:href="@{css/style-responsive.css}" rel="stylesheet">
    <link href="../static/css/mystyle.css" th:href="@{css/mystyle.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>
    <![endif]-->
    <style>

        /*水波按钮效果*/
        button{
            text-decoration:none;
            user-select:none;
            position: relative;
            display: block;
            margin: auto;
            width:120px;
            height:50px;
            line-height:50px;
            text-align:center;
            border-radius:25px;
            color:#fff;
            font-size:16px;
            cursor:pointer;
            background-color: #ff8300;
            box-shadow: 0 3px 9px 0 rgba(255, 131, 0, 0.35);
            overflow: hidden;
        }
        button:after{
            position: absolute;
            content: "";
            display: block;
            margin: auto;
            left: -40px;
            top:-75px;
            width: 200px;
            height: 200px;
            background: #1f7be1;
            color: #1f7be1;
            border-radius: 50%;
            opacity: 0;
            transition: all 0.8s;
        }
        button:hover{
            background-color: #31ff2b;
            color: #1f7be1;
            top:-2px;
            box-shadow: 0 5px 13px 0 rgba(255, 131, 0, 0.59);
        }
        button:active{
            background-color: #1f7be1;
            color: #1f7be1;
            top:0;
            box-shadow: 0 3px 9px 0 rgba(255, 131, 0, 0.35);
        }
        button:active:after{
            width: 0;
            height: 0;
            left:60px;
            top: 25px;
            opacity: 1;
            transition-duration: 0s;
        }
    </style>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side"  th:include="left_side_template :: leftside"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">
        <!-- header section start-->
        <div class="header-section" style="border-bottom: rgba(0,0,0,0.39) solid 1px;">
            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--title start-->
            <div style="width: 80%;margin-top: 15px;text-align: center;">
                <span id="head-title" style="font-size:30px;margin-left: 200px;"></span>
                <div id="click" style="float:right;"></div>
            </div>
            <!--title end-->
        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <!--预测参数 start-->
            <div class="row">
                <div class="col-md-12">
                    <!--param setting start-->
                    <section class="panel">
                        <header class="panel-heading">
                            操作
                        </header>
                        <div class="panel-body">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-4" style="text-align: center;">
                                        <button class="btn btn-primary btn-lg" type="button">检查异常</button>
                                    </div>
                                    <div class="col-md-4" style="text-align: center;">
                                        <button id="count-bt" class="btn btn-primary btn-lg" type="button">计算相对分</button>
                                    </div>
                                    <div class="col-md-4" style="text-align: center;">
                                        <button  id="count-relative-bt" class="btn btn-primary btn-lg" style="width: auto;" type="button">计算相对分平均分</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                    <!--param setting end-->
                </div>
            </div>
            <!--预测参数 end-->

            <!--&lt;!&ndash;Striped Progress Bars start&ndash;&gt;-->
            <!--<div class="row" style="visibility: visible;">-->
                <!--<div class="col-md-3"></div>-->
                <!--<div class="col-md-6" style="text-align: center;">-->
                    <!--<div>正在<span>加载数据</span></div>-->
                    <!--<div class="progress progress-striped active progress-sm"-->
                         <!--style="background-color: rgba(0,0,0,0.45);">-->
                        <!--<div style="width: 45%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="45"-->
                             <!--role="progressbar" class="progress-bar progress-bar-success">-->
                            <!--<span class="sr-only">45% Complete</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-3"></div>-->
            <!--</div>-->
            <!--&lt;!&ndash;Striped Progress Bars end&ndash;&gt;-->

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <span id="tb-title">相对分统计表(本科组)</span>
                            <span class="tools" style="margin-left: 50px;">
                                <button id="export-excel1" type="button" class="btn btn-success">导出评分转换表</button>
                            </span>
                            <span class="tools" style="margin-left: 50px;">
                                <button id="export-excel2" type="button" class="btn btn-success">导出评分统计表</button>
                            </span>
                            <span class="tools" style="margin-left: 50px;">
                                <button id="export-excel3" type="button" class="btn btn-success">导出评分平均分表</button>
                            </span>
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                        </header>
                        <div class="panel-body">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active"><a href="#final-score" data-toggle="tab">
                                    相对平均分</a>
                                </li>
                                <li><a href="#innovation-score" data-toggle="tab">创新平均分</a></li>
                                <li><a href="#useful-score" data-toggle="tab">实用平均分</a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="final-score">
                                    <!--相对平均分-->
                                    <div class="adv-table">

                                        <table class="display table table-bordered table-striped" id="final-score-tb">
                                            <thead>
                                            <tr>
                                                <th>序号</th>
                                                <th>作品名称</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>评委1</th>
                                                <th>名次1</th>
                                            </tr>
                                            </thead>
                                            <tbody id="final-score-tb-body">

                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="innovation-score">
                                    <!--创新平均分-->
                                    <div class="adv-table">

                                        <table class="display table table-bordered table-striped" id="innovation-score-tb">
                                            <thead>
                                            <tr>
                                                <th>作品序号</th>
                                                <th>作品名称</th>
                                                <th>学校名称</th>
                                                <th>指导老师</th>
                                                <th>研发学生</th>
                                                <th>创新平均分</th>
                                                <th>名次2</th>
                                            </tr>
                                            </thead>
                                            <tbody id="innovation-score-tb-body">


                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                                <div class="tab-pane fade" id="useful-score">
                                    <!--实用平均分-->
                                    <div class="adv-table">

                                        <table class="display table table-bordered table-striped" id="useful-score-tb">
                                            <thead>
                                            <tr>
                                                <th>作品序号</th>
                                                <th>作品名称</th>
                                                <th>学校名称</th>
                                                <th>指导老师</th>
                                                <th>研发学生</th>
                                                <th>实用平均分</th>
                                                <th>名次3</th>
                                            </tr>
                                            </thead>
                                            <tbody id="useful-score-tb-body">


                                            </tbody>
                                        </table>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->
        <!--footer section start-->
        <footer th:include="footer_template :: myfooter"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../static/js/jquery-1.10.2.min.js" th:src="@{js/jquery-1.10.2.min.js}"></script>
<script src="../static/js/jquery-ui-1.9.2.custom.min.js" th:src="@{js/jquery-ui-1.9.2.custom.min.js}"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.nicescroll.js" th:src="@{js/jquery.nicescroll.js}"></script>
<script src="../static/js/util-cookie.js" th:src="@{js/util-cookie.js}"></script>

<!--common scripts for all pages-->
<script src="../static/js/scripts.js"  th:src="@{js/scripts.js}"></script>
<!--title time initialization-->
<script src="../static/js/myjsfile.js" th:src="@{js/myjsfile.js}"></script>

<!--&lt;!&ndash;dynamic table&ndash;&gt;-->
<!--<script src="../static/plugins/advanced-datatable/js/jquery.dataTables.js" th:src="@{plugins/advanced-datatable/js/jquery.dataTables.js}"></script>-->
<!--<script src="../static/plugins/data-tables/DT_bootstrap.js" th:src="@{plugins/data-tables/DT_bootstrap.js}"></script>-->
<!--&lt;!&ndash;dynamic table initialization &ndash;&gt;-->
<!--<script src="../static/plugins/advanced-datatable/dynamic_table_init.js" th:src="@{plugins/advanced-datatable/dynamic_table_init.js}"></script>-->

<!--title time initialization-->
<script src="../static/js/count.js" th:src="@{js/count.js}"></script>

<script>

    $(document).ready(function () {
        var model = getCookie("model");
        $("#head-title").append("计算最终相对分-"+model);
        $("#count").addClass("active");

        if(model==="本科组"){
            $("#tb-title").text("相对分统计表(本科组)");
        }
        else{
            $("#tb-title").text("相对分统计表(高职组)");
        }
        selectRelativeScoreByModel();
    });

</script>
<script>
    $(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            // 获取已激活的标签页的名称
            var activeTab = $(e.target).text();
            // 获取前一个激活的标签页的名称
            var previousTab = $(e.relatedTarget).text();
            $(".active-tab span").html(activeTab);
            $(".previous-tab span").html(previousTab);
        });
    });
</script>
</body>
</html>
