<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords"
          content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="股票金融风险预测平台">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="../static/images/invoice-logo.jpg"
          th:href="@{images/invoice-logo.jpg}" type="image/png">

    <title>计分系统</title>

    <!--dynamic table-->
    <link href="../static/plugins/advanced-datatable/css/demo_page.css"  th:href="@{plugins/advanced-datatable/css/demo_page.css}"  rel="stylesheet"/>
    <link href="../static/plugins/advanced-datatable/css/demo_table.css" th:href="@{plugins/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link href="../static/plugins/data-tables/DT_bootstrap.css" th:href="@{plugins/data-tables/DT_bootstrap.css}"/>

    <!--common-->
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet">
    <link href="../static/css/style-responsive.css" th:href="@{css/style-responsive.css}" rel="stylesheet">
    <link href="../static/css/mystyle.css" th:href="@{css/mystyle.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>
    <![endif]-->
</head>

<body class="sticky-header">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side"  th:include="left_side_template :: leftside"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">
        <!-- header section start-->
        <div class="header-section" style="border-bottom: rgba(0,0,0,0.39) solid 1px;">
            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--title start-->
            <div style="width: 80%;margin-top: 15px;text-align: center;">
                <span id="head-title"  style="font-size:30px;margin-left: 200px;"></span>
                <div id="click" style="float:right;"></div>
            </div>
            <!--title end-->
        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <!--预测参数 start-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--&lt;!&ndash;param setting start&ndash;&gt;-->
                    <!--<section class="panel">-->
                        <!--<header class="panel-heading">-->
                            <!--预测参数设置-->
                            <!--<span class="tools pull-right">-->
                                <!--<a class="fa fa-chevron-down" href="javascript:;"></a>-->
                            <!--</span>-->
                        <!--</header>-->
                        <!--<div class="panel-body">-->
                            <!--<div class="panel-body">-->
                                <!--<div class="col-md-7">-->
                                    <!--<div class="row">-->
                                        <!--<div class="col-md-4">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-md-5"-->
                                                     <!--style="position: relative;transform: translateY(20%);text-align: right;">-->
                                                    <!--<label>股票数量111:</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<input type="text" id="amount" class="form-control">-->
                                                    <!--<div id="slider-range-max"></div>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row next_param">-->
                                                <!--<div class="col-md-5">-->

                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-md-5"-->
                                                     <!--style="position: relative;transform: translateY(20%);text-align: right;">-->
                                                    <!--<label>起始日期:</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<input class="form-control default-date-picker" size="16"-->
                                                           <!--type="text" value="" readonly/>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row next_param">-->
                                                <!--<div class="col-md-5"-->
                                                     <!--style="position: relative;transform: translateY(20%);text-align: right;">-->
                                                    <!--<label>结束日期:</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<input class="form-control default-date-picker" size="16"-->
                                                           <!--type="text" value="" readonly/>-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <!--<div class="col-md-4">-->
                                            <!--<div class="row">-->
                                                <!--<div class="col-md-5">-->
                                                    <!--<label>聚类族数:</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<input type="text" class="form-control"-->
                                                           <!--placeholder="15">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                            <!--<div class="row next_param">-->
                                                <!--<div class="col-md-5">-->
                                                    <!--<label>预测天数:</label>-->
                                                <!--</div>-->
                                                <!--<div class="col-md-7">-->
                                                    <!--<input type="text" class="form-control"-->
                                                           <!--placeholder="10">-->
                                                <!--</div>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-md-5" style="margin-top: 20px;">-->
                                    <!--<button class="btn btn-primary btn-lg" type="button">开始预测</button>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</section>-->
                    <!--&lt;!&ndash;param setting end&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--预测参数 end-->
        </div>
        <!--body wrapper end-->
        <!--footer section start-->
        <footer th:include="footer_template :: myfooter"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<!-- Placed js at the end of the document so the pages load faster -->
<script src="../static/js/jquery-1.10.2.min.js" th:src="@{js/jquery-1.10.2.min.js}"></script>
<script src="../static/js/jquery-ui-1.9.2.custom.min.js" th:src="@{js/jquery-ui-1.9.2.custom.min.js}"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<!--<script src="js/js/modernizr.min.js"></script>-->
<script src="../static/js/jquery.nicescroll.js" th:src="@{js/jquery.nicescroll.js}"></script>
<script src="../static/js/util-cookie.js" th:src="@{js/util-cookie.js}"></script>

<!--common scripts for all pages-->
<script src="../static/js/scripts.js"  th:src="@{js/scripts.js}"></script>
<!--title time initialization-->
<script src="../static/js/myjsfile.js" th:src="@{js/myjsfile.js}"></script>


<!--dynamic table-->
<script src="../static/plugins/advanced-datatable/js/jquery.dataTables.js" th:src="@{plugins/advanced-datatable/js/jquery.dataTables.js}"></script>
<script src="../static/plugins/data-tables/DT_bootstrap.js" th:src="@{plugins/data-tables/DT_bootstrap.js}"></script>
<!--dynamic table initialization -->
<script src="../static/plugins/advanced-datatable/dynamic_table_init.js" th:src="@{plugins/advanced-datatable/dynamic_table_init.js}"></script>
<script>
    $(document).ready(function(){
        $("#head-title").append("计分系统");
        $("#home").addClass("active");
//        var model = getCookie("role");
//        //alert("model1"+model);
//        if(model<1)alert("model2"+model);
    });
</script>
</body>
</html>
