<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="../static/images/invoice-logo.jpg"
          th:href="@{images/invoice-logo.jpg}" type="image/png">

    <title>创造性和实用性排名</title>

    <!--common-->
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet">
    <link href="../static/css/style-responsive.css" th:href="@{css/style-responsive.css}" rel="stylesheet">
    <link href="../static/css/mystyle.css" th:href="@{css/mystyle.css}" rel="stylesheet">


    <!--dynamic table-->
    <link href="../static/plugins/advanced-datatable/css/demo_page.css"  th:href="@{plugins/advanced-datatable/css/demo_page.css}"  rel="stylesheet"/>
    <link href="../static/plugins/advanced-datatable/css/demo_table.css" th:href="@{plugins/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link href="../static/plugins/data-tables/DT_bootstrap.css" th:href="@{plugins/data-tables/DT_bootstrap.css}"/>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>
    <![endif]-->

</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side"  th:include="left_side_template :: leftside"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content">
        <!-- header section start-->
        <div class="header-section" style="border-bottom: rgba(0,0,0,0.39) solid 1px;">
            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--title start-->
            <div style="width: 80%;margin-top: 15px;text-align: center;">
                <span id="head-title" style="font-size:30px;margin-left: 200px;"></span>
                <div id="click" style="float:right;"></div>
            </div>
            <!--title end-->
        </div>
        <!-- header section end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <span >创新性排名</span>
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="row" style="margin-bottom: 30px;">
                                    <div class="col-md-1">
                                        <button id="innovation-flush-bt" >刷新<i class="fa fa-refresh"style="color: #31ff2b;"></i></button>
                                    </div>
                                    <div class="col-md-1" style="text-align:left;">
                                        <div id="export1">
                                            <a data-type="xls" href="javascript:;">导出excel</a>
                                        </div>

                                    </div>
                                </div>
                                <table class="display table table-bordered table-striped" id="innovation-tb">
                                    <thead>
                                    <tr>
                                        <th>作品编号</th>
                                        <th>作品名称</th>
                                        <th>评委1</th>
                                        <th>评委2</th>
                                        <th>评委3</th>
                                        <th>评委4</th>
                                        <th>评委5</th>
                                        <th>评委6</th>
                                        <th>评委7</th>
                                        <th>评委8</th>
                                        <th>评委9</th>
                                        <th>评委10</th>
                                        <th>评委11</th>
                                        <th>最高分</th>
                                        <th>最低分</th>
                                        <th>平均分</th>
                                    </tr>
                                    </thead>
                                    <tbody id="innovation-tb-body">

                                    <tr th:each="score,iterStat:${innovationScoreList}">
                                        <td th:text="${score.proId}">作品编号</td>
                                        <td th:text="${score.proName}">作品名称</td>
                                        <td th:text="${score.pScore1}">评委1</td>
                                        <td th:text="${score.pScore2}">评委2</td>
                                        <td th:text="${score.pScore3}">评委3</td>
                                        <td th:text="${score.pScore4}">评委4</td>
                                        <td th:text="${score.pScore5}">评委5</td>
                                        <td th:text="${score.pScore6}">评委6</td>
                                        <td th:text="${score.pScore7}">评委7</td>
                                        <td th:text="${score.pScore8}">评委8</td>
                                        <td th:text="${score.pScore9}">评委9</td>
                                        <td th:text="${score.pScore10}">评委10</td>
                                        <td th:text="${score.pScore11}">评委11</td>
                                        <td th:text="${score.maxScore}">最高分</td>
                                        <td th:text="${score.minScore}">最低分</td>
                                        <td th:text="${score.average}">平均分</td>
                                    </tr>

                                    </tbody>
                                </table>


                            </div>
                        </div>
                    </section>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <span >实用性排名</span>
                            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
             </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table">
                                <div class="row" style="margin-bottom: 30px;">
                                    <div class="col-md-1">
                                        <button id="useful-flush-bt">刷新<i class="fa fa-refresh"style="color: #31ff2b;"></i></button>
                                    </div>
                                    <div class="col-md-1" style="text-align:left;">
                                        <div id="export2">
                                            <a data-type="xls" href="javascript:;">导出excel</a>
                                        </div>
                                    </div>
                                </div>
                                <table class="display table table-bordered table-striped" id="usefule-tb">
                                    <thead>
                                    <tr>
                                        <th>作品编号</th>
                                        <th>作品名称</th>
                                        <th>评委1</th>
                                        <th>评委2</th>
                                        <th>评委3</th>
                                        <th>评委4</th>
                                        <th>评委5</th>
                                        <th>评委6</th>
                                        <th>评委7</th>
                                        <th>评委8</th>
                                        <th>评委9</th>
                                        <th>评委10</th>
                                        <th>评委11</th>
                                        <th>最高分</th>
                                        <th>最低分</th>
                                        <th>平均分</th>
                                    </tr>
                                    </thead>
                                    <tbody id="usefule-tb-body">
                                    <tr th:each="score,iterStat:${usefulScoreList}">
                                        <td th:text="${score.proId}">作品编号</td>
                                        <td th:text="${score.proName}">作品名称</td>
                                        <td th:text="${score.pScore1}">评委1</td>
                                        <td th:text="${score.pScore2}">评委2</td>
                                        <td th:text="${score.pScore3}">评委3</td>
                                        <td th:text="${score.pScore4}">评委4</td>
                                        <td th:text="${score.pScore5}">评委5</td>
                                        <td th:text="${score.pScore6}">评委6</td>
                                        <td th:text="${score.pScore7}">评委7</td>
                                        <td th:text="${score.pScore8}">评委8</td>
                                        <td th:text="${score.pScore9}">评委9</td>
                                        <td th:text="${score.pScore10}">评委10</td>
                                        <td th:text="${score.pScore11}">评委11</td>
                                        <td th:text="${score.maxScore}">最高分</td>
                                        <td th:text="${score.minScore}">最低分</td>
                                        <td th:text="${score.average}">平均分</td>
                                    </tr>
                                    <!--<tr>-->
                                        <!--<td>2</td>-->
                                        <!--<td>1</td>-->
                                        <!--<td>评委1</td>-->
                                        <!--<td>评委2</td>-->
                                        <!--<td>评委3</td>-->
                                        <!--<td>评委4</td>-->
                                        <!--<td>评委5</td>-->
                                        <!--<td>评委6</td>-->
                                        <!--<td>评委7</td>-->
                                        <!--<td>评委8</td>-->
                                        <!--<td>评委9</td>-->
                                        <!--<td>评委10</td>-->
                                        <!--<td>评委11</td>-->
                                        <!--<td>最高分</td>-->
                                        <!--<td>最低分</td>-->
                                        <!--<td>平均分</td>-->
                                    <!--</tr>-->

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <!--body wrapper end-->
        <!--footer section start-->
        <footer th:include="footer_template :: myfooter"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="../static/js/jquery-1.10.2.min.js" th:src="@{js/jquery-1.10.2.min.js}"></script>
<script src="../static/js/jquery-ui-1.9.2.custom.min.js" th:src="@{js/jquery-ui-1.9.2.custom.min.js}"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../static/js/jquery.nicescroll.js" th:src="@{js/jquery.nicescroll.js}"></script>
<script src="../static/js/util-cookie.js" th:src="@{js/util-cookie.js}"></script>

<!--dynamic table-->
<script src="../static/plugins/advanced-datatable/js/jquery.dataTables.js" th:src="@{plugins/advanced-datatable/js/jquery.dataTables.js}"></script>
<script src="../static/plugins/data-tables/DT_bootstrap.js" th:src="@{plugins/data-tables/DT_bootstrap.js}"></script>
<!--dynamic table initialization -->
<script src="../static/plugins/advanced-datatable/innovation_table_init.js" th:src="@{plugins/advanced-datatable/innovation_table_init.js}"></script>


<!--common scripts for all pages-->
<script src="../static/js/scripts.js"  th:src="@{js/scripts.js}"></script>
<!--title time initialization-->
<script src="../static/js/myjsfile.js" th:src="@{js/myjsfile.js}"></script>

<!--export table initialization-->
<script src="../static/js/tableExport.js" th:src="@{js/tableExport.js}"></script>

<script>
    var $exportLink = document.getElementById('export1');
    $exportLink.addEventListener('click', function(e) {
        e.preventDefault();
        var model = getCookie("model");
        if (e.target.nodeName === "A") {
            tableExport('innovation-tb', "创新性排名表-"+model, e.target.getAttribute('data-type'));
        }
    }, false);

    var $exportLink = document.getElementById('export2');
    $exportLink.addEventListener('click', function(e) {
        e.preventDefault();
        var model = getCookie("model");
        if (e.target.nodeName === "A") {
            tableExport('usefule-tb', "实用性排名表-"+model, e.target.getAttribute('data-type'));
        }
    }, false);
</script>

<script>
    $(document).ready(function () {
        var model = getCookie("model");
        $("#head-title").append("创造性和实用性排名-"+model);
        $("#innovation").addClass("active");
    });

    function setTbbody(data,tbbody_name) {
        $(tbbody_name).empty();
        for (var i=0;i<data.length;i++){
            var str = "<tr>\n" +
                "<td>"+data[i].proId+"</td>\n" +
                "<td>"+data[i].proName+"</td>\n" +
                "<td>"+data[i].pScore1+"</td>\n" +
                "<td>"+data[i].pScore2+"</td>\n" +
                "<td>"+data[i].pScore3+"</td>\n" +
                "<td>"+data[i].pScore4+"</td>\n" +
                "<td>"+data[i].pScore5+"</td>\n" +
                "<td>"+data[i].pScore6+"</td>\n" +
                "<td>"+data[i].pScore7+"</td>\n" +
                "<td>"+data[i].pScore8+"</td>\n" +
                "<td>"+data[i].pScore9+"</td>\n" +
                "<td>"+data[i].pScore10+"</td>\n" +
                "<td>"+data[i].pScore11+"</td>\n" +
                "<td>"+data[i].maxScore+"</td>\n" +
                "<td>"+data[i].minScore+"</td>\n" +
                "<td>"+data[i].average+"</td>\n" +
                "</tr>";
            $(tbbody_name).append(str);
        }
    }
    
    function selectInnovationScoreByModel() {
        var model = getCookie("model");
        var url = "/score/selectInnovationScoreByModel?model=" + model;
        $.get(url, function (data, status) {
            //alert(data.result);
            if (data.result == "1") {
                alert(data.message);
                //加载表格数据
                var tbbody_name =  "#innovation-tb-body"
                setTbbody(data.relativeScores,tbbody_name);
            } else {
                alert(data.message);
            }
        });
    }

    $("#innovation-flush-bt").click(function (e) {

        //根据权限和model设置页面显示
        //禁用按钮
        document.getElementById("count-bt").disabled=true;
        selectInnovationScoreByModel();
        document.getElementById("count-bt").disabled=false;
    });


    function selectUsefulScoreByModel() {
        var model = getCookie("model");
        var url = "/score/selectUsefulScoreByModel?model=" + model;
        $.get(url, function (data, status) {
            //alert(data.result);
            if (data.result == "1") {
                alert(data.message);
                //加载表格数据
                var tbbody_name =  "#useful-tb-body"
                setTbbody(data.relativeScores,tbbody_name);
            } else {
                alert(data.message);
            }
        });
    }
    $("#useful-flush-bt").click(function (e) {

        //根据权限和model设置页面显示
        //禁用按钮
        document.getElementById("useful-flush-bt").disabled=true;
        selectUsefulScoreByModel();
        document.getElementById("useful-flush-bt").disabled=false;
    });
</script>
</body>
</html>
