<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords"
          content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="../static/images/invoice-logo.jpg"
          th:href="@{images/invoice-logo.jpg}" type="image/png">

    <title>计分系统</title>
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{css/font-awesome.min.css}"/>
    <!--dynamic table-->
    <link href="../static/plugins/advanced-datatable/css/demo_page.css"  th:href="@{plugins/advanced-datatable/css/demo_page.css}"  rel="stylesheet"/>
    <link href="../static/plugins/advanced-datatable/css/demo_table.css" th:href="@{plugins/advanced-datatable/css/demo_table.css}" rel="stylesheet"/>
    <link href="../static/plugins/data-tables/DT_bootstrap.css" th:href="@{plugins/data-tables/DT_bootstrap.css}"/>

    <!--common-->
    <link href="../static/css/style.css" th:href="@{css/style.css}" rel="stylesheet">
    <link href="../static/css/style-responsive.css" th:href="@{css/style-responsive.css}" rel="stylesheet">
    <link href="../static/css/mystyle.css" th:href="@{css/mystyle.css}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script th:src="@{js/html5shiv.js}"></script>
    <script th:src="@{js/respond.min.js}"></script>
    <![endif]-->
</head>



<body class="sticky-header">
<section>
    <!-- left side start-->
    <div class="left-side sticky-left-side"  th:include="left_side_template :: leftside"></div>
    <!-- left side end-->
    <!-- main content start-->
    <div class="main-content">
        <!-- header section start-->
        <div class="header-section" style="border-bottom: rgba(0,0,0,0.39) solid 1px;">
            <!--toggle button start-->
            <a class="toggle-btn"><i class="fa fa-bars"></i></a>
            <!--toggle button end-->
            <!--title start-->
            <div style="width: 80%;margin-top: 15px;text-align: center;">
                <span id="head-title"  style="font-size:30px;margin-left: 200px;"></span>
                <div id="click" style="float:right;"></div>
            </div>
            <!--title end-->
        </div>
        <!-- header section end-->
        
        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <span >所有作品</span>
                            <span class="tools pull-right" >
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>

                        </header>
                        <div class="panel-body">
                            <div style="margin-bottom: 20px;"><button id="bt-add"  type="button" class="btn btn-success">
                                <span style="color: #1b2128;">新增作品</span>
                                <i class="fa fa-plus-circle"></i></button>
                            </div>
                            <!--所有账号列表-->
                            <div class="adv-table">
                                <table class="display table table-bordered table-striped" id="works-tb">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>序号</th>
                                        <th>作品编号</th>
                                        <th>作品名称</th>
                                        <th>分赛区</th>
                                        <th>学校</th>
                                        <th>指导老师</th>
                                        <th>学生</th>
                                        <th>组别</th>
                                        <th>更改</th>
                                        <th>删除</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="works:${worksList}" >
                                        <td  th:text="${works.id}"></td>
                                        <td  th:text="${works.code}"></td>
                                        <td  th:text="${works.bianHao}"></td>
                                        <td  th:text="${works.name}"></td>
                                        <td  th:text="${works.partName}"></td>
                                        <td  th:text="${works.school}"></td>
                                        <td  th:text="${works.teachers}"></td>
                                        <td  th:text="${works.students}"></td>
                                        <td  th:text="${works.model}"></td>
                                        <td>
                                            <button th:id="${works.id}+'change-'+${works.code}" type="button" class="btn btn-info"
                                                    >修改</button>
                                        </td>
                                        <td>
                                            <button th:id="${works.id}+'delete-'+${works.code}" type="button" class="btn btn-danger"
                                                    >删除</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

        </div>
        <!--body wrapper end-->
        <!--footer section start-->
        <footer th:include="footer_template :: myfooter"></footer>
        <!--footer section end-->
    </div>
    <!-- main content end-->
</section>


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 900px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">更改作品信息</h4>
            </div>
            <div class="modal-body">
                <table class="display table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>序号</th>
                        <th>作品编号</th>
                        <th>作品名称</th>
                        <th>分赛区</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td id="works-id"></td>
                        <td><input id="works-code" type="text" class="form-control"/></td>
                        <td><input id="works-bianhao"type="text" class="form-control" /></td>
                        <td><input id="works-name" type="text" class="form-control"/></td>
                        <td><input id="works-partName" type="text" class="form-control"/></td>
                    </tr>
                    </tbody>
                </table>

                <table class="display table table-bordered table-striped">
                    <thead>
                    <tr><th>&nbsp;&nbsp;&nbsp;&nbsp;</th>
                        <th>学校</th>
                        <th>指导老师</th>
                        <th>学生</th>
                        <th>组别(本科组/高职高专组)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td><input id="works-school"type="text" class="form-control" /></td>
                        <td><input id="works-teachers" type="text" class="form-control"/></td>
                        <td><input id="works-students" type="text" class="form-control"/></td>
                        <td><input id="works-model"type="text" class="form-control" /></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-danger" id="bt-action">保存更改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<!-- Placed js at the end of the document so the pages load faster -->
<!-- Placed js at the end of the document so the pages load faster -->
<script src="../static/js/jquery-1.10.2.min.js" th:src="@{js/jquery-1.10.2.min.js}"></script>
<script src="../static/js/jquery-ui-1.9.2.custom.min.js" th:src="@{js/jquery-ui-1.9.2.custom.min.js}"></script>
<script src="../static/js/jquery-migrate-1.2.1.min.js" th:src="@{js/jquery-migrate-1.2.1.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<!--<script src="js/js/modernizr.min.js"></script>-->
<script src="../static/js/jquery.nicescroll.js" th:src="@{js/jquery.nicescroll.js}"></script>
<script src="../static/js/util-cookie.js" th:src="@{js/util-cookie.js}"></script>

<!--common scripts for all pages-->
<script src="../static/js/scripts.js"  th:src="@{js/scripts.js}"></script>
<!--title time initialization-->
<script src="../static/js/myjsfile.js" th:src="@{js/myjsfile.js}"></script>


<!--dynamic table-->
<script src="../static/plugins/advanced-datatable/js/jquery.dataTables.js" th:src="@{plugins/advanced-datatable/js/jquery.dataTables.js}"></script>
<script src="../static/plugins/data-tables/DT_bootstrap.js" th:src="@{plugins/data-tables/DT_bootstrap.js}"></script>
<!--dynamic table initialization -->
<script src="../static/plugins/advanced-datatable/dynamic_table_init.js" th:src="@{plugins/advanced-datatable/dynamic_table_init.js}"></script>

<script src="../static/js/works.js" th:src="@{js/works.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var worksList = /*[[${worksList}]]*/ 2;
    $(document).ready(function () {
        $("#head-title").append("作品管理");
        $("#works").addClass("active");
        $("#system-manage").addClass("nav-active");
        setClickListener(worksList);

        $('#works-tb').dataTable( {
            "aaSorting": [[ 10, "desc" ]]
        } );
    });
    /*]]>*/
</script>
</body>
</html>
